[user]
	email = bex@pobox.com
    name = Brian (bex) Exelbierd
[core]
	editor = /usr/bin/vim
[push]
	default = simple
[pull]
	rebase = true
[alias]
    commend = commit --amend --no-edit
    pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
[gpg]
    program = gpg
[credential "https://gitlab.consulting.redhat.com"]
    username = bexelbie@redhat.com
    helper = "!$HOME/bin/pass-git" "RH/gitlab.consulting.redhat.com-https-push"
