# workaround for missing reboot policy
# https://github.com/coreos/rpm-ostree/issues/2843
# https://ask.fedoraproject.org/t/how-to-actually-enable-automatic-updates-in-fedora-iot/14113/3
[Unit]
Description=rpm-ostree upgrade and reboot
ConditionPathExists=/run/ostree-booted

[Service]
Type=simple
ExecStart=/usr/bin/rpm-ostree upgrade --reboot
ExecStartPost=journalctl -r -p 0..3 -S -1w | mail -s "{{ inventory_hostname }}: Journal Entries" bex@pobox.com